{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Home Page</title>
</head>
<body class="background">
<div class="container">
<ul class="nav nav-pills nav-stacked">
      {% if user.is_authenticated %}
    <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
    <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
    <li role="presentation"><a href="{% url 'account_number_list' %}">Your Accounts</a></li>
    <li role="presentation"><a href="{% url 'create_account' %}">Create New Account</a></li>
    <li role="presentation"><a href="{% url 'trans_list_view' %}">Your Transactions</a></li>
    <li role="presentation"><a href="{% url 'transfer_list' %}">Your Transfers</a></li>
      {% else %}
    <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
    <li role="presentation"><a href="{% url 'signup' %}">Sign Up</a></li>
    <li role="presentation" class="active"><a href="{% url 'index' %}">Home</a></li>
      {% endif %}
</ul>
    <br><br><br><br>
<h1 class="main_header">WELCOME TO THE IRON BANK</h1>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>