{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Iron Bank</h1>
    <br><br>
<h2>Use the navigation bar above to add an account, make transactions, or
transfer between accounts. For other questions or concerns, contact customer
service.</h2>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Customer Service</button>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">For customer service and assistance:</h4>
        </div>
        <div class="modal-body">
          <p>Phone: 1(800)IRN-BANK</p>
          <p>Email: customerservice@theironbank.com</p>
          <p>Thank You!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}