{% extends 'base.html' %}

{% block content %}
   <h1>Your Current Account Balance: ${{ object.balance }}</h1>
   <br><br>
   <table class="table">
         <tr><th>Account Number</th>
         <th>User</th>
         <th>Account Nickname</th>
         <th>Date/Time Created</th></tr>
         <tr><td>{{ object.id }}</td>
         <td>{{ object.user }}</td>
         <td>{{ object.nickname }}</td>
         <td>{{ object.created_time }}</td></tr>
   </table>
   <br><br>
   <a href="{% url 'trans_create_view' object.id %}" class="btn btn-primary btn-lg" role="button">Withdraw/Deposit</a>
   <a href="{% url 'transfer_view' object.id %}" class="btn btn-primary btn-lg" role="button">Transfer Between Accounts</a>
{% endblock %}