{% extends 'base.html' %}
{% block title %}Transaction List{% endblock %}

{% block content %}
<table class="table">
          <tr><th>Transaction Type</th>
              <th>Amount</th>
          <th>Description</th>
          <th>Date and Time Created</th></tr>
    {% for transaction in object_list %}
        <tr><td>{{ transaction.get_trans_type_display }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.time_created }}</td></tr>
    {% endfor %}
</table>
{% endblock %}