{% extends 'base.html' %}
{% block title %}Transaction List{% endblock %}

{% block content %}
    <h2>Transactions (click one for more details)</h2>
<table class="table">
        <tr><th>Transaction Type</th><th>Amount</th>
    {% for transaction in object_list %}
        <tr><td><a href="{% url 'transaction_detail_view' transaction.id %}">{{ transaction.get_trans_type_display }}</a></td>
        <td><a href="{% url 'transaction_detail_view' transaction.id %}">{{ transaction.amount }}</a></td></tr>
    {% endfor %}
</table>
{% endblock %}
