.background {
    background-image: url('iron_bank.png');
}

.main_header {
    font-weight: bolder;
    color: gray;
    text-emphasis: filled;
    text-align: center;
    font-family: Zapfino;
    border: medium;
}



